/* 共用區 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;600;700;900&display=swap');
:root{
    --red : #FF4141;
    --block : #2C343B;
    overflow-x: hidden;
}
::selection{
    background-color: var(--red);
    color: #fff;
}
.container{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif TC', serif;
}
.sr_only{
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
}
img{
    width: 100%;
    vertical-align: middle;
}
a{
    text-decoration: none;
}
span.block{
    display: block;
}
a.btn{
    padding: 15px 40px;
    color: #fff;
    background-color: var(--red);
    border-radius: 5px;
    transition: background-color .3s;
}
a.btn:hover{
    background-color: var(--block);
}
.icon_wrap{
    display: flex;
}
.icon_wrap .fa{
    margin: 0 5px;
    padding: 10px;
    width: 15px;
    height: 15px;
    line-height: 16px;
    font-size: 15px;
    text-align: center;
    color: var(--red);
    border: 1px solid #aaa;
    border-radius: 50%;
    transition: border .3s,box-shadow .3s;
    cursor: pointer;
}
.icon_wrap .fa:hover{
    border: 1px solid transparent;
    box-shadow: 0 0 5px 5px #aaa5;
}
/* header區 */
.main_header{
    padding: 10px 20px;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid #aaa5;
    background-color: #fff;
    z-index: 100;
}
.header_wrap{
    display: flex;
    align-items: center;
}
.header_wrap .menu_btn{
    width: 50px;
    cursor: pointer;
}
.header_wrap .menu_btn .fa{
    font-size: 30px;
    color: #aaa;
}
.header_wrap .h1{
    width: 130px;
    display: block;
}
.header_wrap p{
    display: none;
}
.header_wrap .icon_wrap{
    padding: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    box-shadow: 0 0 3px 3px #aaa3;
    transition: display .3s,opacity .3s;
    pointer-events: none;
    z-index: 5;
    background-color: #fff;
}
.header_wrap .icon_wrap.active{
    opacity: 1;
    pointer-events: all;
}
.close_btn{
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa5;
    display: none;
}
.close_btn.active{
    display: block;
}
.main_header ul{
    padding: 20px 0;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 54px;
    left: -150%;
    border: 1px solid #aaa5;
    background-color: #fff;
    transition: left .3s;
    z-index: 2;
}
.main_header ul.active{
    left: 0;
}
.main_header ul li a{
    margin-bottom: 5px;
    padding: 15px;
    display: block;
    color: #aaa;
    transition: background-color .3s,color .3s;
}
.main_header ul li:hover a{
    background-color: var(--red);
    color: #fff;
}
.main_header .icon_btn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}
.main_header .icon_btn .point{
    margin: auto;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    border-radius: 50%;
}
.main_header .icon_btn .point::before,
.main_header .icon_btn .point::after{
    content: '';
    margin: auto;
    width: 7px;
    height: 7px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa;
    border-radius: 50%;
}
.main_header .icon_btn .point::before{
    top: -20px;
}
.main_header .icon_btn .point::after{
    bottom: -20px;
}
.top_btn{
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 40px;
    /* bottom: 40px; */
    bottom: -200%;
    color : #fff;
    text-align: center;
    background-color: var(--red);
    cursor: pointer;
    transition: background-color .3s,bottom .3s;
}
.top_btn:hover{
    background-color: var(--block);
}
.top_btn.active{
    bottom: 40px;
}

/* section_banner區 */
.section_banner{
    padding: 0 20px;
    position: relative;
}
.section_banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./pic/background-1.jpg');
    background-size: 250% 100%;
    background-repeat: no-repeat;
    background-position: center left;
    z-index: 1;
    opacity: .5;
}
.section_banner .container{
    position: relative;
    z-index: 2;
}
.banner_item h2{
    margin-bottom: 45px;
    padding-top: 40px;
    line-height: 1.25;
    color: var(--red);
    font-size: 55px;
    font-weight: 900;
}
.banner_item p{
    margin-bottom: 45px;
    color: #444;
    line-height: 1.4;
    font-size: 18px;
}
.section_banner .btn{
    margin-bottom: 95px;
    display: inline-block;
}

/* section_service區 */
.section_service{
    padding: 100px 20px;
}
.service_item{
    margin-bottom: 30px;
    text-align: center;
    opacity: 0;
}
.section_service.active .service_item{
    opacity: 1;
}
.section_service.active .item1{
    transition: opacity .3s;
}
.section_service.active .item2{
    transition: opacity .3s .2s;
}
.section_service.active .item3{
    transition: opacity .3s .4s;
}
.section_service.active .item4{
    transition: opacity .3s .6s;
}
.service_item .icon{
    margin: 0 auto 40px;
    padding: 20px;
    width: 50px;
    height: 50px;
    line-height: 75px;
    position: relative;
    text-align: center;
    border-radius: 10px;
}
.service_item .icon::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    transform: rotate(45deg);
    z-index: -1;
    transition: transform .4s,background-color .4s;
}
.service_item:hover .icon::before{
    transform: rotate(0);
    background-color: var(--red);
}
.service_item:hover .icon .fa{
    color: #fff;
}
.service_item .icon .fa{
    font-size: 45px;
    color: var(--red);
    transition: color .4s;
}
.service_item h3{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 800;
}
.service_item p{
    line-height: 1.5;
    color: #444;
}

/* section_workout區 */
.section_workout{
    padding: 30px 20px;
    background-image: url('./pic/background-2.png');
    background-repeat: no-repeat;
    background-position: center left 40%;
    background-size: 370%;
    overflow: hidden;
}
.workout_title{
    margin-bottom: 40px;
    padding: 20px 20px;
    position: relative;
    left: -200%;
    border: 2px solid var(--red);
    transition: left .3s;
}
.section_workout.active .workout_title{
    left: 0;
}
.workout_title::before{
    content: 'ONLY 5 DAYS';
    padding: 0 10px;
    position: absolute;
    top: -10px;
    left: 40px;
    color: var(--red);
    background-color: #fff;
}
.workout_title h2{
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 1.6;
}
.workout_title h2 .fw{
    font-weight: 900;
}
.workout_title p{
    font-size: 18px;
    line-height: 1.5;
}
.work_item{
    position: relative;
    left: 200%;
    transition: left .3s 1s;
}
.section_workout.active .work_item{
    left: 0;
}
.work_item input{
    margin-bottom: 20px;
    display: block;
    padding: 15px 130px 15px 15px;
    border: 1px solid #aaa;
    outline: none;
}
.work_item input:focus::placeholder{
    color: transparent;
}
.work_item input::placeholder{
    color: #aaa;
    transition: color .3s;
}
.work_item .btn{
    margin-bottom: 20px;
    display: inline-block;
}

/* section_gallery區 */
.section_gallery{
    padding: 60px 20px;
    background-color: #F6F6F6;
    overflow: hidden;
}
.gallery_title{
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    left: -200%;
    transition: left .3s;
}
.section_gallery.active .gallery_title{
    left: 0;
}
.gallery_title h2{
    margin-bottom: 50px;
    font-size: 25px;
}
.gallery_title h2 span{
    font-weight: 900;
}
.gallery_title p{
    font-size: 17px;
    color: #666;
    line-height: 1.5;
}
.gallery_wrap{
    display: flex;
    flex-wrap: wrap;
}
.gallery_wrap .pic{
    width: 50%; 
    padding-bottom: 50%;
    height: 0;
    position: relative;
    overflow: hidden;
}
.gallery_wrap .pic2 img{
    transform: scale(1.2);
}
.gallery_wrap .pic1,
.gallery_wrap .pic3,
.gallery_wrap .pic5,
.gallery_wrap .pic7,
.gallery_wrap .pic9{
    top: -200vw;
}
.gallery_wrap .pic2,
.gallery_wrap .pic6,
.gallery_wrap .pic10{
    top: 200vw;
}
.gallery_wrap .pic4,
.gallery_wrap .pic8{
    opacity: 0;
}

.section_gallery.active .gallery_wrap .pic1,
.section_gallery.active .gallery_wrap .pic3,
.section_gallery.active .gallery_wrap .pic5,
.section_gallery.active .gallery_wrap .pic7,
.section_gallery.active .gallery_wrap .pic9{
    top: 0;
    transition: top .3s .3s;
}
.section_gallery.active .gallery_wrap .pic2,
.section_gallery.active .gallery_wrap .pic6,
.section_gallery.active .gallery_wrap .pic10{
    top: 0;
    transition: top .3s .6s;
}
.section_gallery.active .gallery_wrap .pic4,
.section_gallery.active .gallery_wrap .pic8{
    opacity: 1;
    transition: top .3s .3s;
}

/* section_fitness區 */
.section_fitness{
    padding: 0 20px;
    position: relative;
    overflow: hidden;
}
.section_fitness::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./pic/background-3.jpg');
    background-repeat: no-repeat;
    background-position: center left 50%;
    background-size: 350%;
    opacity: .5;
}
.section_fitness .container{
    position: relative;
    z-index: 2;
}
.fitness_item{
    position: relative;
    left: -200%;
    transition: left .3s;
}
.section_fitness.active .fitness_item{
    left: 0%;
}
.fitness_item h2{
    padding-top: 150px;
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 55px;
    color: var(--red);
    font-weight: 900;
}
.fitness_item p{
    margin-bottom: 35px;
    line-height: 1.4;
    font-size: 17px;
    color: #666;
}
.fitness_item a{
    padding: 20px 50px;
    margin-bottom: 150px;
    display: inline-block;
}

/* section_coaches區 */
.section_coaches{
    padding: 80px 0;
    /* background-color: #F0F0F0; */
    background: linear-gradient(180deg,#f0f0f0 60%,#fff 40%);
    position: relative;
    overflow-x: hidden;
}
.section_coaches h2{
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}
.coaches_wrap{
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s .2s;
}
.section_coaches.active .coaches_wrap{
    opacity: 1;
}
.coaches_item{
    margin: 20px 5%;
    width: 90%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 5px 5px #ccc5;
    flex-shrink: 0;
    transition: left .3s;
    z-index: 3;
    opacity: 1;
}
.coaches_item.prev{
    left: -100%;
    z-index: 1;
}
.coaches_item.next{
    left: 100%;
    z-index: 1;
}
.coaches_item.opacity{
    opacity: 0;
    transition: opacity .3s;
}
.coaches_item .txt{
    padding: 35px 0 28px;
    text-align: center;
    background-color: #fff;
}
.coaches_item h3{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
}
.coaches_item p{
    margin-bottom: 25px;
    color: #666;
}
.coaches_item .icon_wrap{
    justify-content: center;
}
.section_coaches .rwd_control{
    display: none;
}
.section_coaches .page_wrap{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}
.section_coaches .page{
    margin: 0 5px;
    width: 11px;
    height: 11px;
    border: 2px solid var(--red);
    border-radius: 50%;
    transition: background-color .3s;
    cursor: pointer;
}
.section_coaches .page.active{
    background-color: var(--red);
}

/* section_timer區 */
.section_timer{
    padding: 65px 0 0;
    overflow: hidden;
}
.timer_item{
    margin-bottom: 75px;
    position: relative;
    text-align: center;
    color: #4C4C4C;
}
.timer_item p{
    margin-bottom: 18px;
    font-size: 57px;
    font-weight: 800;
}
.timer_item.item1,
.timer_item.item3{
    left: -200%;
    transition: left .3s .2s;
}
.timer_item.item2,
.timer_item.item4{
    top: -200vw;
    transition: top .3s .4s;
}
.section_timer.active .item1,
.section_timer.active .item3{
    left: 0;
}
.section_timer.active .item2,
.section_timer.active .item4{
    top: 0;
}

/* section_clients區 */
.section_clients{
    padding: 70px 0 90px;
    overflow-x: hidden;
    position: relative;
}
.section_clients::before{
    content: '';
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40%;
    z-index: 1;
    background: radial-gradient(circle at 5px,#E9E9E9 3.6px, #F6F6F6 0px);
    background-repeat: repeat;
    background-size: 30px 30px;
    background-position: center center;
}
.section_clients .container{
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s .4s;
}
.section_clients.active .container{
    opacity: 1;
}
.section_clients .wrap1 h2{
    margin-bottom: 40px;
    font-size: 24px;
    text-align: center;
}
.section_clients .wrap1 h2 span{
    font-weight: 900;
}
.evaluate_wrap{
    display: flex;
}
.clients_evaluate{
    margin: 0 15% 50px;
    width: 70%;
    position: relative;
    flex-shrink: 0;
    left: 0;
    transition: left .3s;
    user-select : none;
}
.clients_evaluate.item2,
.clients_evaluate.item3{
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}
.clients_evaluate.prev{
    left: -300%;
}
.clients_evaluate.next{
    left: 300%;
}
.clients_evaluate::before,
.clients_evaluate::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: var(--red);
    font-size: 25px;
}
.clients_evaluate::before{
    content: '99';
    top: -20px;
    left: -45px;
}
.clients_evaluate::after{
    content: '66';
    right: -45px;
    bottom: -20px;
}
.clients_evaluate p{
    margin: 0 0 20px 0;
    width: 100%;
    line-height: 1.7;
    font-size: 20px;
}
.clients_evaluate span{
    padding-left: 45px;
    position: relative;
    font-size: 20px;
}
.clients_evaluate span::before{
    content: '';
    width: 35px;
    height: 2px;
    position: absolute;
    top: 55%;
    left: 0;
    background-color: #aaa5;
}
.section_clients .wrap1 .btn{
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 20px 10px;
    display: inline-block;
}
.section_clients .wrap2{
    display: flex;
    position: relative;
}
.wrap2 .clients_item{
    margin: 0 5%;
    padding: 5px;
    width: 39%;
    flex-shrink: 0;
    box-shadow: 2px 2px 15px 15px #aaa5;
    background-color: #fff;
    transition: left .3s,transform .3s;
    user-select: none;
}
.clients_item.item{
    position: absolute;
    top: 0;
    left: 0;
}
.clients_item.prev{
    left: -150%;
}
.clients_item.next{
    transform: translateY(-25px);
    left: 50%;
}
.clients_item.next.item1{
    transform: translateY(0);
}
.clients_item.opacity{
    opacity: 0;
    left: 100%;
}
.clients_item.active{
    left: 0;
}
.wrap2 .clients_item p{
    padding: 15px 0;
    text-align: center;
    background-color: #fff;
}
.wrap2 .clients_item .pic img{
    pointer-events: none;
}
.section_clients .page_wrap{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-44%);
}
.section_clients .page{
    margin: 0 5px;
    width: 11px;
    height: 11px;
    border: 2px solid var(--red);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s;
}
.section_clients .page.active{
    background-color: var(--red);
}

/* section_blog區 */
.section_blog{
    padding: 50px 20px;
    overflow: hidden;
}
.section_blog h2{
    margin-bottom: 50px;
    text-align: center;
    font-size: 23px;
    font-weight: 900;
}
.blog_item{
    margin-bottom: 60px;
    padding: 30px;
    position: relative;
    border: 1px solid #aaa5;
    transition: box-shadow .3s;
}
.section_blog .item1{
    left: -200%;
    transition: left .3s .6s;
}
.section_blog .item2{
    top: -200vw;
    transition: top .3s .9s;
}
.section_blog .item3{
    left: 300%;
    transition: left .3s 1.2s;
}
.section_blog.active .item1{
    left: 0;
}
.section_blog.active .item2{
    top: 0;
}
.section_blog.active .item3{
    left: 0;
}
.blog_item:last-of-type{
    margin-bottom: 0;
}
.blog_item:hover{
    box-shadow: 2px 2px 15px 5px #aaa5;
}
.blog_item::before{
    content: '';
    margin: 0 auto;
    position: absolute;
    width: 80%;
    height: 4px;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg,#FE8251 10%,var(--red) 95%);
}
.blog_item .pic{
    margin-bottom: 50px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.blog_item .h3{
    margin-bottom: 30px;
    display: block;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    transition: color .3s;
}
.blog_item .h3:hover{
    color: var(--red);
}
.blog_item p{
    margin-bottom: 40px;
    line-height: 1.6;
    color: #666;
}
.blog_item .btn{
    margin-bottom: 30px;
    padding: 10px;
    display: inline-block;
}
.blog_item .data{
    font-weight: 600;
}

/* main_footer區 */
.main_footer{
    padding: 40px 0;
}
.footer_wrap{
    margin-bottom: 30px;
    border-bottom: 1px solid #aaa5;
}
.footer_item{
    margin-bottom: 30px;
    text-align: center;
}
.footer_item .h2{
    margin: 0 auto 20px;
    width: 170px;
    display: block;
}
.footer_item h3{
    margin-bottom: 30px;
    display: inline-block;
    font-size: 20px;
    position: relative;
}
.footer_item h3::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 5px;
    bottom: -10px;
    left: -10px;
    background: linear-gradient(90deg,#FE8251 20%,var(--red) 80%);
}
.footer_item p{
    margin-bottom: 12px;
    color: #666;
}
.footer_item p a{
    color: #000;
    transition: color .3s;
}
.footer_item p a:hover{
    color: var(--red);
}
.footer_item .map{
    padding-bottom: 3px;
    color: var(--red);
    border-bottom: 1px solid #aaa;
    transition: color .3s;
}
.footer_item .map:hover{
    color: #000;
}
.copyright{
    text-align: center;
    line-height: 1.5;
}
.copyright .icon_wrap{
    margin-bottom: 25px;
    display: block;
}
.copyright p{
    font-size: 15px;
    color: #888;
}

/* rwd576px區 */
@media screen and (min-width:576px){
    /* main_header區 */
    .header_wrap .icon_wrap{
        pointer-events: all;
    }

    /* section_banner區*/
    .section_banner::before{
        background-size: 250% auto;
        background-repeat: no-repeat;
        background-position: center left;
    }

    /* section_workout區 */
    .section_workout{
        padding: 80px 20px;
        background-position: center left 45%;
        background-size: 240% 100%;
    }    
    .workout_title{
        width: 80%;
    }
    .gallery_wrap .pic{
        width: 33.3%;
        padding-bottom: 33.3%;
    }
        
    /* section_fitness區 */
    .section_fitness::before{
        background-position: center left 45%;
        background-size: 250%;
    }

    /* section_coaches區 */
    .section_coaches{
        padding: 90px 0 120px;
    }
    .coaches_wrap{
        margin: 20px 0;
    }
    .coaches_item{
        margin: 20px auto;
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .coaches_item.prev{
        left: -111%;
    }
    .coaches_item.next{
        left: 80%;
    }
    .coaches_item.opacity{
        opacity: 1;
    }

    /* section_timer區 */
    .section_timer .container{
        display: flex;
        flex-wrap: wrap;
    }
    .timer_item{
        width: 50%;
        margin-bottom: 100px;
        text-align: center;
        color: #4C4C4C;
    }   
        
    /* section_blog區 */
    .blog_item{
        margin: 0 auto 60px;
        width: 60%;
    }
    
    /* main_footer區 */  
    .footer_wrap{
        display: flex;
        flex-wrap: wrap;
    }  
    .footer_item{
        margin: 0 auto 50px;
        width: 45%;
    }
    .footer_item h3{
        margin-bottom: 44px;
    }
}

/* 768px區 */
@media screen and (min-width:768px){
    /* section_banner區*/
    .section_banner::before{
        background-size: 150% 100%;
    }
    .banner_item{
        padding-top: 20px;
        margin-left: auto;
        width: 60%;
        text-align: right;
    }
    
    /* section_service區 */
    .section_service{
        padding: 90px 40px 50px;
    }
    .service_wrap{
        margin-bottom: 50px;
        display: flex;
    }
    .service_item{
        margin: 0 auto;
        width: 45%;
    }

    /* section_workout區 */
    .section_workout{
        padding: 80px 20px;
        background-image: url('./pic/background-2.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 220% auto;
    }
    .workout_title{
        width: 55%;
    }
    
    /* section_coaches區 */
    
    .coaches_item{
        width: 40%;
        position: absolute;
    }

    /* section_clients區 */
    .section_clients .wrap1 .btn{
        margin-left: 10vw;
    }
    .evaluate_wrap{
        justify-content: center;
    }
    .clients_evaluate{
        margin: 0 auto 50px;
        width: 500px;
    }
   
    .clients_evaluate p{
        margin-bottom: 35px;
        font-size: 18px;
        color: #666;
        line-height: 2;
    }
    .clients_evaluate span{
        margin-left: 0;
    }
    
    /* main_footer區 */  
    .main_footer{
        padding: 60px 60px;
    }
    .footer_item{
        width: 33.3%;
        text-align: left;
    }
    .footer_item .h2{
        margin: 0 0 20px;
    }
    .copyright{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .copyright .icon_wrap{
        margin: 0;
        order: 2;
    }
    .copyright p{
        order: 1;
    }
}

/* 993px區 */
@media screen and (min-width:993px){
    /* section_banner區*/
    .section_banner::before{
        background-size: cover;
        opacity: 1;
    }
    .banner_item{
        padding-top: 70px;
    }    
    .banner_item p{
        margin-bottom: 85px;
        color: #444;
        line-height: 1.4;
        font-size: 18px;
    }
    
    /* header區 */
    .main_header{
        padding: 0px 20px;
    }
    .main_header .container{
        display: flex;
        justify-content: space-between;
    }
    .header_wrap .h1{
        width: 150px;
    }
    .header_wrap .menu_btn{
        display: none;
    }
    .main_header .icon_btn{
        display: none;
    }
    .main_header ul{
        width: auto;
        height: auto;
        display: flex;
        position: initial;
        border: 0px solid #aaa5;
    }
    .main_header ul li{
        position: relative;
    }
    .main_header ul li::before{
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        background-color: var(--red);
        transform: scale(0);
        transition: transform .3s;
    }
    .main_header ul li:hover::before{
        transform: scale(1);
    }
    .main_header ul li a{
        color: #000;
    }
    .main_header ul li:hover a{
        background-color: transparent;
        color: #000;
    }
    .header_wrap .icon_wrap{
        padding: 0;
        position: initial;
        display: block;
        opacity: 1;
        box-shadow: 0 0 0 0 #fff;
    }
    /* section_banner區*/
    .section_banner::before{
        background-size: 150% 100%;
    }
    .banner_item{
        padding-top: 20px;
        margin-left: auto;
        width: 35%;
        text-align: right;
    }
    .banner_item h2{
        padding-top: 60px;
        margin-bottom: 35px;
        line-height: 1.5;
    }

    /* section_service區 */
    .section_service .container{
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
    }
    .service_wrap{
        justify-content: space-around;
    }
    .service_item{
        margin: 0;
        width: 45%;
    }

    /* section_workout區 */    
    .section_workout{
        padding: 70px 20px;
        background-image: url('./pic/background-2.png');
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 180%;
    }
    .workout_title{
        padding: 40px 50px;
        width: 60%;
    }
    .work_item{
        margin-left: 50px;
    }

    /* section_fitness區 */
    .section_fitness{
        padding: 30px 20px;
    }
    .section_fitness::before{
        opacity: 1;
        background-position: center left 45%;
        background-size: 180%;
    }
    .fitness_item{
        width: 55%;
    }

    /* section_coaches區 */
    .section_coaches{
        position: relative;
    }
    .coaches_wrap{
        margin-bottom: 30px;
        align-items: flex-start;
    }
    .coaches_item .icon_wrap{
        opacity: 0;
        height: 0;
        pointer-events: none;
    }
    .coaches_item.active .icon_wrap{
        opacity: 1;
        height: auto;
        pointer-events: all;
        transition: opacity 1s .3s,height 1s .3s;
    }
    .coaches_item{
        width: 45%;
        box-shadow: 5px 5px 10px 10px #aaa5;
    }

    /* section_timer區 */
    .section_timer{
        margin-bottom: 40px;
        border-top: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
    }
    .timer_item{
        width: 25%;
    }

    /* section_clients區 */
    .wrap2 .clients_item{
        margin: auto;
        padding: 5px;
        width: 30%;
    }
    .clients_item.item{
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .wrap2 .clients_item.prev{
        margin: 0;
        left: -1.6%;
        opacity: 1;
    }
    .clients_item.item1.next{
        margin-left: 71%;
        transform: none;
    }
    .clients_item.next{
        margin: 0;
        transform: translateY(0);
        left: 70%;
    }
    .clients_item.active{
        transform: translateY(-10px);
        left: 0;
        z-index: 2;
    }
    
    /* section_blog區 */
    .blog_wrap{
        display: flex;
        flex-wrap: wrap;
    }
    .blog_item{
        margin: 0 auto 50px;
        width: 50%;
        box-sizing: border-box;
    }
}

/* 1200px區 */
@media screen and (min-width:1200px){
    /* main_header區 */
    .main_header .menu_btn{
        margin-right: 25px;
    }
    .header_wrap p{
        margin-right: 20px;
        display: block;
        font-size: 12px;
        line-height: 1.4;
        color: #666;
    }
    .container{
        margin: 0 auto;
        max-width: 1200px;
    }
    /* section_banner區 */
    .section_banner{
        padding: 100px 0;
    }
    .section_banner::before{
        background-size: cover;
        background-position: center center;
    }
    .banner_item p {
        line-height: 1.6;
    }
    .section_banner .btn{
        padding: 20px 40px;
    }
    
    /* section_workout區 */
    .section_workout{
        padding: 80px 20px;
        background-size: cover;
    }
    .workout_title{
        width: 30%;
    }
    .work_item input{
        margin-bottom: 30px;
    }

    /* section_gallery區 */
    .section_gallery{
        padding: 100px 0;
        position: relative;
    }
    .section_gallery::before{
        content: '';
        width: 40%;
        height: 60%;
        position: absolute;
        top: 10%;
        left: 20%;
        z-index: 1;
        background: radial-gradient(circle at 5px,#E9E9E9 3.6px, #F6F6F6 0px);
        background-repeat: repeat;
        background-size: 30px 30px;
        background-position: center center;
    }
    .section_gallery::after{
        content: '';
        display: block;
        clear: both;
    }
    .section_gallery .container{
        position: relative;
        z-index: 2;
    }
    .gallery_title{
        margin-bottom: 160px;
        width: 400px;
        float: right;
        text-align: left;
    }
    .gallery_title h2{
        font-size: 35px;
        line-height: 1.5;
    }
    .gallery_title p{
        font-size: 17px;
        color: #000;
        font-weight: 600;
    }
    .gallery_wrap{
        display: block;
    }
    .gallery_wrap .pic{
        padding: 0;
        height: auto;
        display: block;
        position: relative;
        overflow: initial;
        background-color: #fff;
        box-shadow: 0 0 10px 10px transparent;
        transition: box-shadow .3s;
    }
    .gallery_wrap .pic:hover{
        box-shadow: 0 0 10px 10px #aaa5;
    }
    .gallery_wrap .pic img{
        transition: transform .3s;
    }
    .gallery_wrap .pic:hover img{
        transform: scale(.95);
    }
    .gallery_wrap .pic::before,
    .gallery_wrap .pic::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .gallery_wrap .pic::before{
        border: 1px solid #fff;
        transition: transform .3s;
        z-index: 2;
    }
    .gallery_wrap .pic:hover::before{
        transform: scale(.8);
    }
    .gallery_wrap .pic::after{
        background-image: url('./pic/magnifier.png');
        background-size: 20%;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0;
        transition: opacity .3s;
    }
    .gallery_wrap .pic:hover::after{
        opacity: 1;
    }
    .section_gallery .wrap1{
        width: 700px;
        float: left;
    }
    .wrap1 .pic1{
        margin-left: auto;
        margin-bottom: 30px;
        width: 185px;
    }
    .wrap1 .pic2{
        margin-bottom: 30px;
        margin-left: 30px;
        width: 445px;
        float: right;
    }
    .wrap1 .pic2 img{
        transform: scale(1);
    }
    .wrap1 .pic3{
        margin-top: 100px;
        margin-bottom: 30px;
        width: 85px;
        float: right;
    }
    .wrap1 .pic4{
        width: 200px;
        float: right;
    }
    .wrap1 .pic5{
        margin-left: 255px;
        width: 200px;
        float: left;
    }
    .wrap1 .pic6{
        margin-left: 30px;
        width: 85px;
        float: left;
    }
    .section_gallery .wrap2{
        width: 500px;
        float: right;
    }
    .wrap2 .pic7{
        margin-left: 30px;
        margin-bottom: 30px;
        width: 240px;
        float: left;
    }
    .wrap2 .pic8{
        margin-bottom: 30px;
        margin-left: 30px;
        width: 200px;
        float: left;
    }
    .wrap2 .pic9{
        margin-left: 30px;
        width: 85px;
        float: left;
    }
    .wrap2 .pic10{
        margin-right: 300px;
        width: 85px;
        float: right;
    }

    /* section_fitness區 */
    .section_fitness{
        padding: 50px 30px;
    }
    .section_fitness::before{
        background-size: cover;
    }
    .fitness_item{
        width: 45%;
    }
    .fitness_item h2{
        font-size: 65px;
    }
    .fitness_item p{
        font-size: 20px;
        line-height: 1.6;
    }

    /* section_coaches區 */
    .section_coaches{
        padding: 90px 0;
    }
    .coaches_item {
        width: 40%;
    }
    .coaches_item.prev{
        left: -101%;
    }
    .section_coaches .page_wrap {
        display: none;
    }
    .section_coaches .rwd_control{
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-20px);
        z-index: 5;
    }
    .section_coaches .rwd_control .left,
    .section_coaches .rwd_control .right{
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 45px;
        font-size: 30px;
        color: #444;
        background-color: #fff;
        transform: rotate(45deg);
        box-shadow: 1px 1px 3px 3px #aaa5;
        transition: color .3s;
    }
    .section_coaches .rwd_control .left:hover,
    .section_coaches .rwd_control .right:hover{
        color: var(--red);
    }
    .section_coaches .rwd_control .fa{
        transform: rotate(-45deg);
    }

    /* section_clients區 */
    .section_clients{
        padding: 0 20px;
        background-color: #F6F6F6;
    }
    .section_clients::before {
        content: "";
        width: 50%;
        height: 70%;
        position: absolute;
        top: -10%;
        left: 50%;
        z-index: 1;
    }
    .section_clients .container{
        display: flex;
        align-items: center;
    }
    .evaluate_wrap{
        margin-bottom: 130px;
        flex-direction: column;
        height: 250px;
    }
    .clients_evaluate{
        margin-top: 115px;
    }
    .clients_evaluate::before {
        top: -30px;
        left: -35px;
    }
    .clients_evaluate::after {
        content: '66';
        right: 35px;
        bottom: 43px;
    }
    .section_clients .wrap1{
        width: 50%;
    }
    .section_clients .wrap1 h2{
        margin-bottom: 10px;
        font-size: 45px;
        text-align: left;
    }
    .section_clients .wrap1 p{
        margin-bottom: 65px;
        font-size: 20px;
    }
    .section_clients .wrap1 .btn{
        margin-left: 0;
    }
    .section_clients .wrap2{
        margin-left: auto;
        margin-right: 5%;
        width: 30%;
        height: 890px;
        flex-direction: column;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .section_clients .page_wrap{
        display: none;
    }
    .evaluate_wrap{
        position: relative;
        overflow: hidden;
        height: 280px;
    }
    .evaluate_wrap,
    .section_clients .wrap2{
        transform: translateX(0) !important;
    }
    .wrap2 .clients_item{
        padding: 15px;
        width: 85%;
        box-shadow: 3px 3px 5px 3px #aaa5;
        cursor: pointer;
        transition: top .3s;
    }
    .clients_item:hover img{
        transition: transform .3s;
    }
    .clients_item:hover img{
        transform: scale(.95);
    }
    .clients_item.item{
        margin: auto 0;
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .wrap2 .clients_item.prev{
        margin: auto 0;
        top: -720px;
        left: 0;
        opacity: 1 !important;
    }
    .clients_item.item1{
        margin: auto 0; 
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .clients_item.item1.next{
        margin-left: 0%;
        top: 650px;
        transform: none;
        opacity: 1;
    }
    .clients_item.item1.prev{
        top: -86px;
    }
    .clients_item.next{
        top: 650px;
        margin: 0;
        transform: translateY(0);
        left: 0;
        opacity: 1 !important;
    }
    .clients_item.active{
        margin: auto 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        transform: translateY(0);
        z-index: 2;
    }
    .clients_evaluate.item2,
    .clients_evaluate.item3{
        margin: 0;
        position: absolute;
        top: 60px;
        left: 43px;
        right: 0;
    }
    .clients_evaluate.next{
        left: 300%;
    }
    .clients_evaluate.prev{
        left: -300%;
    }
    .wrap2 .clients_item .pic img{
        pointer-events: all;
    }

    /* section_blog區 */
    .blog_item{
        width: 33.3333333%;
    }
    .blog_item:last-of-type{
        margin-bottom: 50px;
    }
    .blog_item::before{
        transform: scale(0);
        transition: transform .3s;
    }
    .blog_item:hover::before{
        transform: scale(1);
    }
}